@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%); */

  background-color: #5b6467;
  background-image: linear-gradient(315deg, #252525 0%, #181818 100%);

  /* background: linear-gradient(-45deg, #635439, #2e333b, #5f4055, #434436); */
  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.quiz-container {
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #63bbbb;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
}

button:hover {
  background-color: #4f9494;
}

button:focus {
  background-color: #63bbbb;
  outline: none;
}
/* 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
